@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    45 Verne blvd, Scarborough
    Toronto, ON M1G 2V5<br />
    <abbr title="Phone">P:</abbr>
    647-914-8881
</address>

